﻿@model IEnumerable<CETL_UI.Models.VW_ControlMaster>
@{
    ViewBag.Title = "Configuration";
}


@Scripts.Render("~/bundles/jquery")
<script src="~/JavaScript/click.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js" language="javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<style>

    .row {
        margin-right: -67px !important;
        margin-left: -62px !important;
    }

    .nav-bar-fixed-top {
        left: -40px !important;
    }

    .col-xs-6 {
        top: 6px !important;
        bottom: 50px !important;
        left: 100px !important;
    }

    .col-md-12 {
        position: relative;
        min-height: 1px;
        padding-right: 20px;
        padding-left: 10px;
    }

    .body {
        background-color: whitesmoke !important;
    }

    .btn, sub {
        border-radius: 10px;
    }

    #sub1 {
        margin-right: 20px;
        margin-left: 30px;
    }

    #userid {
        padding: 8px;
        margin-left: -30px;
    }

    #anch1 {
        margin-left: 10px;
    }

    .hide {
        display: none;
    }

    a:hover {
        color: red;
    }

    .myDiv:hover + .hide {
        display: block;
        color: red;
    }

    .btn-link {
        font: 600px !important;
    }

    #gridv {
        margin-top: 30px;
        transition: background-color .5s;
    }

    .td, th {
        background-color: whitesmoke;
    }

    #gridv tr:hover {
        background-color: lightgray;
    }

    #gridv th {
        background-color: steelblue;
        color: white;
    }

    #tableButton {
        margin-left: 150px;
    }

    #submitView {
        margin-left: 350px;
    }

    .topcorner {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 4px;
        z-index: 999;
    }
</style>



<div class="header" id="divhead" style="display:block;background-color:#355C7D;width:100%;margin-bottom:-50px;">
    <h1 style="font-display:block;text-align:center;color:darkorange;margin-left:-60px;margin-top:-19px;margin-bottom:65px;padding:10px">ManualEntry </h1>
</div>

<div class="col-xs-12">
    <div class="topcorner">
        <table>
            <tr>
                @using (Html.BeginForm("Import", "VW_ControlMaster", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                   
                        <td> <input type="submit" value="Import" title="Import file to table" class="btn btn-primary" style="background-color:steelblue;width:140px;color:white;margin-left:10px" /></td>
                    

                    <td> <input type="file" title="choose an excel file" name="excelfile" class="btn-link" width="75" style="margin-left:10px;" /></td>
                    @Html.Raw(ViewBag.Error)
                }
            </tr>
        </table>
    </div>
</div>



<div class="col-xs-6" style="width:80%;background-color:transparent">

    <table class="table-striped">
        <tr>

            <td colspan="1"></td>
            <td style="font-weight:bold; background-color:whitesmoke">Application:</td>
            <td style="background-color:whitesmoke;">
                <select id="app" name="App" class="dropdown" style="width:185px;height:25px; align-items:center;  margin-left:20PX">
                    <option style="justify-content:center" value="PHD">PHD</option>



                </select>
            </td>
            <td style="color:steelblue;background-color:whitesmoke;"><a id="anch1" href="~/Excel_Template/PHD Template_Orginal.xlsx" target="_blank" title="Download if you don't have template">Download Excel Template</a></td>



        </tr>
    </table>

    <div class="row">
        <div class="col-xs-6">
            <table class="table table-striped table-responsive table-bordered" id="configtable" style="margin-top:40px; border:2px solid #000000;background-color: transparent">
                <tr>

                    <!--- <th>
                        @Html.DisplayNameFor(model => model.LabelName)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.ControlName_Name)
                    </th>-->

                </tr>
                @if (Model != null)
                {
                    int rowCount = 1;
                    foreach (var item in Model)
                    {
                        <tr style="border:2px solid #ddd;font:bold;">

                            <td style="border:2px solid #ddd;padding:20px;  font-weight:bold;width:12%">

                                @Html.DisplayFor(modelItem => item.LabelName)
                            </td>

                            <td style="border:2px solid #ddd;padding:20px;margin-right:30px;width:12%; ">
                                @if (item.ControlName_Name.ToLowerInvariant() == "textbox")
                                {

                                    @*<input type="text" name="ControlName" placeholder="Enter Details" id="@item.ControlName_ID" />*@
                                    @Html.TextBox("txt" + rowCount.ToString(), "", new { placeholder = "Enter Details" });
                                }
                                @*@@if (item.ControlName_Name.ToLowerInvariant() == "dropdown")
        {
            <select name="ddes" id="des" style="width:185px; height:25px;" class="dropdown">
                <option value="">Select</option>
                @foreach (string drpdwnValue in item.drpdwnValues)
                {
                    <option value="@drpdwnValue">@drpdwnValue</option>
                }

            </select>
        }*@

                                @if (item.ControlName_Name.ToLowerInvariant() == "datetime")
                                {
                                   @* <input type="datetime" name="txt"+rowCount.toString(), style="width:185px;" placeholder="dd/mm/yyyy" id="txt" />*@
                                    @Html.TextBox("txt" + rowCount.ToString(),"",new { placeholder = "MM/dd/yyyy " });
                                    
                                }

                            </td>


                        </tr>
                        rowCount++;

                    }
                }
                @*<tr>
                        <td colspan="2">
                            <input type="submit" style="width:140px;margin-left:200px;margin-right:230px;color:steelblue" class="btn btn-success" id="btnSubmit" />
                        </td>
                        <td colspan="2">
                            <input type="button" value="Clear" style="width:140px;margin-left:200px;margin-right:230px;color:steelblue" class="btn btn-success" id="btnSubmit" />
                        </td>
                    </tr>*@
            </table>
        </div>


    </div>


    <div class="col-xs-8" style="margin-left:-50px">
        <table id="tableButton" style="margin-top:20px;">
            <tr>

                <td><input type="button" title="Add a new record to table" value="Add" id="add1" style="width:140px;color:white;background-color:steelblue;margin-left:150px;" class="btn btn-primary" /></td>

                <td><input type="submit" value="Update" title="Update a record " id="upd1" style="width:140px;color:white;background-color:steelblue;margin-left:20px;" class="btn" /></td>

                <td><input type="reset" id="res1" value="Clear" title="Clear contents" style="width:140px;color:white;background-color:steelblue;margin-left:20px" class="btn" /></td>

            </tr>
        </table>
    </div>


    <!--New added-->
    <div class="col-xs-12">
        <table id="gridv" class="table table-striped table-bordered table-hover">


            @if (ViewBag.ListGridViews != null)
            {
                <thead>
                    <tr>
                        <th>TagName</th>
                        <th>TagValue</th>
                        <th>TagTimestamp</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var g in ViewBag.ListGridViews)
                    {

                        <tr>
                            <td>@g.TagName</td>
                            <td>@g.TagValue</td>
                            <td>@g.TagTimestamp</td>
                            <td><button type="button" id="editDetails1" class="btn-link">Edit</button></td>
                        </tr>

                    }
                </tbody>

            }
        </table>
    </div>
    <div class="col-xs-12" id="submitView">
        @if (ViewBag.ListGridViews != null)
        {
            <input type="submit" id="sub2" style="width:140px;color:white;background-color:steelblue;" class="btn" />
        }
    </div>


</div>
