﻿@model CETL_UI.Models.VW_StaticController

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VW_StaticController</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VersionFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VersionFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ControlMasterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControlMasterID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnterUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnterUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnterVersionNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnterVersionNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastChgUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastChgUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastChgVersionNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastChgVersionNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidationStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidationStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
