﻿@model IEnumerable<CETL_UI.Models.VW_StaticController>

@{
    ViewBag.Title = "Static Records";
}


<br/>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ControlMasterID)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ControlMasterID)
        </td>
        
       
    </tr>
}

</table>
