﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Honeywell Technology Solutions</h1>
    <p class="lead">The Future Is What We Make It</p>
    <p><a href="https://www.honeywell.com/us/en" class="btn btn-primary btn-lg">Visit Us &raquo;</a></p>
</div>

